.content{
    background-image: linear-gradient(to bottom right, red, purple);
    position:fixed;
    width:100%;
    height:100%;
    .form-grid{
        background-color: white;
        border-radius: 0.5rem;
        .form-login{
            padding-left: 500px;
            width: 25%;
            margin: auto;
            display: flex;
            flex-direction: column;
            .login{
                background-color: #008b00;
                border-radius: 1rem;
            }
            mat-form-field{
                background-color: #ECEFF1;
            }
        }
    }
    
}