.mat-elevation-z8{
    background-image: linear-gradient(to bottom right, red, purple); 
    width: 100%;
    height: 100%; 
    z-index: 2;
    top: 5%0; 
    position: fixed;
    table {
        width: 50%;
        margin-left: 25%;
        margin-top: 10%;
    }
    
}
